# Исключаем кэши Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
*.log

# Исключаем файлы и директории macOS
.DS_Store
.AppleDouble
.LSOverride

# Исключаем файлы и папки PyCharm
.idea/
*.iml

# Исключаем репозиторий git
.git/

# Исключаем виртуальное окружение Python (если вы его используете)
venv/

# Исключаем зависимости (они будут установлены внутри контейнера)
#requirements.txt
